@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.entry-list-wrapper{
  position: relative;
  width: 50%;
  /* right: 50%; */
}
.filter-form{
  position:relative;
  border-radius: 15px;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #4f555b;
  background-image: url("/src/images/circuitry.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.entry-list{
  position:relative;
  background-color: #4f555b;
  background-image: url("/src/images/circuitry.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    width: 100%;
    overflow: auto;
    border: double #fff;
    border-radius: 15px;
    max-width: auto;
    max-height: 1250px;
    order: -1;
    margin-left: 1em;
    border: 2px solid #fff;
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #5cd3ff,
    0 0 30px #5cd3ff,
    0 0 50px #5cd3ff;
}
.entry-glow{
  width: 635px;
  height: 1220px;
  /* max-height: auto;
  max-width: auto; */
  top: 5px;
  left: 7px;
  position:absolute;
  /* display:flex;
  flex-direction: column; */
  filter: blur(25px);
  background: linear-gradient(
    to left,
     #f7003e,
     #f70088,
     #f700ce,
     #da00f7,
     #b100f7,
     #8800f7,
     #6b00f7,
     #4a00f7,
     #2d00f7,
     #1000f7,
     #0019f7,
     #003af7,
     #0056f7,
     #0073f7,
     #009cf7,
     #00c6f7,
     #00eff7,
     #00f798,
     #00f721,
     #63f700,
     #a1f700,
     #d2f700,
     #f3f700,
     #f7d200,
     #f7b500,
     #f79400,
     #f76f00,
     #f74600,
     #f71d00,
     #f70000);
  background-size: 200% 200%;
  animation: aside-glow 3s linear infinite;
  
}

.journalEntry{
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    color: #fff;
    margin: 1em;
    border: double #fff;
    padding: 1em;
    background: radial-gradient(#0084b4, #002937);
    text-shadow: 0 0 5px #5cd3ff,
    0 0 10px #5cd3ff,
    0 0 15px #5cd3ff;
}
@keyframes aside-glow {
  0% {
  background-position: 0% 50%;
  }
  100% {
  background-position: 200% 50%;
  }
}

/* ::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
  }
::-webkit-scrollbar-thumb {
    background: linear-gradient(#0084b4, #002937);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
} */
