@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

form{
    display:flex;
    flex-direction: column;
    

}
.user-created-data{
    display: flex;
    justify-content: space-between;
}
.form-div, .journal-div{
    /* border: 1px solid #c2ff1a; */
    justify-content: center;
    align-items: baseline;
}
.journal-div{
    display:flex;
    flex-direction: column;
}
.form-div{
    display:flex;
    justify-content: space-evenly;
}
::placeholder{
    color: #fff;
    text-shadow: 0 0 5px #5cd3ff,
    0 0 10px #5cd3ff,
    0 0 15px #5cd3ff;
}
.journal-div textarea{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    border-radius: 15px;
    overflow:hidden;
    font-size: 20pt;
    text-shadow: 0 0 5px #5cd3ff,
        0 0 10px #5cd3ff,
        0 0 15px #5cd3ff;
    align-items: center;
    margin: 5px;
    width: 99%;
    height: 75vh;
    max-height: auto;
    max-width: auto;
    background: radial-gradient(#0084b4, #002937);
}
.journal-title{
    display:flex;
    justify-content: center;
    margin-bottom: 3em;
}
input, select{
    background-color: #0084b4;
    color: #fff;
    text-shadow: 0 0 5px #5cd3ff,
    0 0 10px #5cd3ff,
    0 0 15px #5cd3ff;

}
label{
    color: #fff;
    text-shadow: 0 0 5px #5cd3ff,
    0 0 10px #5cd3ff,
    0 0 15px #5cd3ff;
}
.form-div select, .form-div button, .form-div input, .journal-title input{
    display: flex;
    align-items: center;
    margin: 5px;
}
.creation-form{
    height: 80vh;
    width: 90%;
    margin: 0 5em;
    display:flex;
    flex-direction: column;
}
fieldset{
    width: 100%;
    /* align-self: flex-start; */
    background-color: #002937;
    background-image: url("/src/images/circuitry.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position:relative;
    border: double #fff;
    border-radius: 15px;
    box-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff
        /* filter: blur(15px); */
        /* transform: scale(0.9) translateZ(0); */
}
.generate-title-el{
    display:flex;
    /* margin-bottom: 5em; */
    justify-content: center;
    /* align-content: center; */
    position:relative;
    text-align: center;
    word-wrap: break-word;
    height: 20vh;
    border: 2px solid black;
    
}
.generate-title-el h2{
    /* align-self: center; */
    height: 20vh;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-size: 60pt;
    text-align: center;
    /* padding: 10%; */
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #fff,
        0 0 30px #5cd3ff,
        0 0 40px #5cd3ff,
        0 0 50px #5cd3ff,
        0 0 60px #5cd3ff,
        0 0 70px #5cd3ff;
}
.glow-shadow{
    margin-top: 19.5em;
    width: 74em;
    height: 56.25em;
    position:absolute;
    filter: blur(25px);
    background: linear-gradient(
      to left,
       #f7003e,
       #f70088,
       #f700ce,
       #da00f7,
       #b100f7,
       #8800f7,
       #6b00f7,
       #4a00f7,
       #2d00f7,
       #1000f7,
       #0019f7,
       #003af7,
       #0056f7,
       #0073f7,
       #009cf7,
       #00c6f7,
       #00eff7,
       #00f798,
       #00f721,
       #63f700,
       #a1f700,
       #d2f700,
       #f3f700,
       #f7d200,
       #f7b500,
       #f79400,
       #f76f00,
       #f74600,
       #f71d00,
       #f70000);
    background-size: 200% 200%;
    animation: glow 3s linear infinite;
    
  }





.form-button-el{
    display:flex;
    justify-content: right;
}
.form-button-el button{
    height: 30px;
    margin: 10px;
    background-color: #001923;
    color: #fff;
    border: double #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    

}
.form-button-el button:hover{
    color: #fff;
    text-shadow: 0 0 5px #5cd3ff,
    0 0 10px #5cd3ff,
    0 0 15px #5cd3ff;
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #5cd3ff,
    0 0 30px #5cd3ff,
    0 0 50px #5cd3ff;

}


@keyframes glow {
    0% {
    background-position: 0% 50%;
    }
    100% {
    background-position: 200% 50%;
    }
}
