@import url(./form.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./aside.css);

body{
    margin-right: 0px;
    margin-left:  0px;
    max-width: 1920px;
    padding-right: 10px;
    padding-left:  10px;
    
}
html{

    background-image: linear-gradient(#001923, #013950);
    background-repeat: no-repeat;
    background-position: top;

}

/* https://coolors.co/6ec9eb-919683-de95ca-defa91-690f51 */
/* https://coolors.co/5cd3ff-c2ff1a-ff75da-e0ff8a-7a005a */
