.entry-list{
    width: 40%;
    overflow: auto;
    border: double #fff;
    border-radius: 15px;
    max-width: auto;
    order: -1;
    margin-left: 1em;
    border: 2px solid #fff;
    box-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #5cd3ff,
    0 0 30px #5cd3ff,
    0 0 50px #5cd3ff;
}
.journalEntry{
    border-radius: 15px;
    color: #fff;
    margin: 1em;
    border: double #fff;
    padding: 1em;
    background: radial-gradient(#0084b4, #002937);
    text-shadow: 0 0 5px #5cd3ff,
    0 0 10px #5cd3ff,
    0 0 15px #5cd3ff;
}